{% extends "base.html" %} 

{% block title %} 
	{{titulo}}
{% endblock %}

{% block head %} 
	{{ parent() }} 
{% endblock %} 
{% block anio %}
	{{anio}}
{% endblock %}

{% block menu %} 
	{{ include('menu/menu.html') }} 
{% endblock %} 

{% block content %}
{% autoescape false %}

        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            <!-- <span>Menu</span>-->
                          </button>
                    </div>
                    <h1 class="blue">ZuHause</h1>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb text-uppercase">
                                <li class="breadcrumb-item"><a href="misGastos.html">Gastos</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Mis Gastos</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Mes</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                          <option selected>Enero</option>
                          <option value="12">Diciembre</option>
                          <option value="11">Noviembre</option>
                          <option value="10">Setiembre</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">A&ntilde;o</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                          <option selected>2020</option>
                          <option value="1">2019</option>
                          <option value="2">2018</option>                    
                        </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <!-- Title -->
                                <h6 class="text-uppercase text-muted mb-2">
                                    Apartamento Nro
                                </h6>

                                <!-- Heading -->
                                <span class="h2 mb-0">
                          412
                        </span>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <div class="card">
                            <div class="card-body text-center ">
                                <!-- Title -->
                                <h6 class="text-uppercase text-muted mb-2">
                                    Mes Facturado
                                </h6>

                                <!-- Heading -->
                                <span class="h2 mb-0">
                                {{mesAlfa}}
                        </span>

                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <!-- Title -->
                                <h6 class="text-uppercase text-muted mb-2">
                                    Total a pagar <span class="blue">( {{mesAlfa}} 2020)</span>
                                </h6>

                                <!-- Heading -->
                                <span class="h2 mb-0">
                                $ {{total}}
                        </span>

                                <!-- Badge -->
                                <span class="badge badge-soft-success mt-n1">
                          +3.5%
                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <!-- Title -->
                                <h6 class="text-uppercase text-muted mb-2">
                                    Fecha de vencimiento
                                </h6>

                                <!-- Heading -->
                                <span class="h2 mb-0">
                                {{vto}}
                        </span>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4 class="text-uppercase text-muted mb-2">Gastos de los ultimos meses</h4>
                                </div>
                                <div class="card-text chart-container">
                                    <canvas id="gastoMeses"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h4 class="text-uppercase text-muted mb-2">Gastos del mes ( % )</h4>
                                </div>
                                <div class="card-text chart-container">
                                    <canvas id="gasto"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title absolute">
                                    <h4 class="text-uppercase text-muted mb-2">Gastos del mes: <span class="blue">Enero ( $ 466.158,00 )</span>
                                    <span class="link"><a href="#" >
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                                            <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                                        </svg>
                                        Descargar
                                    </a></span>
                                    </h4>                                    
                                </div>
                                <div class="card-text table-responsive">
                                    <table class="table text-uppercase table-hover">
                                        <thead class="thead-blue">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Gasto</th>
                                                <th scope="col">Descripci&oacute;n</th>
                                                <th scope="col">Importe $</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-primary gray">
                                                <td colspan="3">CONSUMOS / TRIBUTOS</td>
                                                <td class="float-right">( 13% )</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Consumo OSE Peridodo:</td>
                                                <td>del 05/12/2019 al 04/01/2020</td>
                                                <td>28.305,00</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Consumo UTE Periodo:</td>
                                                <td>del 07/12/2019 al 11/01/2020</td>
                                                <td>3.810,00</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Consumo UTE Periodo:</td>
                                                <td>del 07/12/2019 al 11/01/2020</td>
                                                <td>4.749,00</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Tarifa de saneamiento:</td>
                                                <td>Noviembre - Diciembre / 2019</td>
                                                <td>33.514,00</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Tasa anual ascensores:</td>
                                                <td>A&ntilde;o 2019</td>
                                                <td>1.297,00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endautoescape %} 
{% endblock %} 

{% block mensaje %} 
{% endblock %} 

{% block footer %} 
    {{ parent() }} 
{% endblock %} 

{% block scripts %} 
    {{ parent() }} 	
    <script src="js/funciones_misGastos.js"></script> 
{% endblock %}