<!DOCTYPE html>
<!--[if lte IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>{% block title %}{% endblock %}</title> 

	{% block head %}
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="icon" href="img/zuHause.ico">
	{% endblock %}
</head>


<body>
	{% block menu %} 
	{% endblock %} 

	{% block mensaje %} 
	{% endblock %} 

	{% block content %} 
	{% endblock %} 
	
	
	{% block footer %}
	<footer class="fixed-bottom">
    	<p class="float-right mb-1 mt-2 mr-2 ml-2">Copyright &copy; {% block anio %}{% endblock %} ZuHuse - Todos los derechos reservados</p>
    </footer>
	{% endblock %} 
	
	{% block scripts %}
	<script src="js/urls.js"></script>
	<script src="js/gral.js"></script> 
	<script src="js/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> <!--  Para ajax -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	{% endblock %}
	
</body>
</html>
