{% extends "base_index.html" %} 

{% block title %} 
	{{titulo}}
{% endblock %}

{% block head %} 
	{{ parent() }} 
{% endblock %} 
{% block anio %}
	{{anio}}
{% endblock %}

{% block content %}
{% autoescape false %}
    <div class="section">
    <!-- Page Content Holder -->
	    <div id="content">        
	        <div class="container login">
	            <div class="row justify-content-center">
	                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
	                    <div class="card">
	                        <div class="card-body">
	                            <div class="card-title text-center">              
	                                <h1 class="blue">ZuHause</h1>                  
	                                <h4 class="text-uppercase text-muted mb-2">Login</span>
	                            </div>
	                            <div class="card-text text-break">
	                                <form method="POST" action="index.php">
	                                    <div class="form-group">
	                                      <label for="email">Email</label>
	                                      <input type="email" class="form-control" name="login" id="email" required autofocus>
	                                    </div>
	                                    <div class="form-group">
	                                      <label for="password">Password</label>
	                                      <input type="password" class="form-control" name="password" id="password" required>
	                                    </div>
	                                    {% if hay_error == 1 %}
										<div class="alert alert-danger alert-dismissible fade show" role="alert">
											  <strong>Error: </strong>{{mensaje_error}}
											  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
												    <span aria-hidden="true">&times;</span>
											  </button>
										</div>
									  	{% endif %} 
	                                    {% if hay_error == 2 %}
										<div class="alert alert-warning alert-dismissible fade show" role="alert">
											  {{mensaje_error}}
											  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
												    <span aria-hidden="true">&times;</span>
											  </button>
										</div>
									  	{% endif %} 
	                                    <button type="submit" class="btn btn-primary btn-block mb-2">Ingresar</button>
	                                    <p class="text-center">
	                                    	<a href="recuperarClave.php">
		                                    	No recuerdo mi contrase&ntilde;a
		                                    	<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
		                                        	<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
	                                      	  		<path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
	                                      		</svg>		
	                                      	</a>
	                                  	</p>                                    
									</form>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>

    <div class="overlay"></div>
{% endautoescape %} 
{% endblock %} 

{% block mensaje %} 
{% endblock %} 

{% block footer %} 
	{{ parent() }} 
{% endblock %} 

{% block scripts %} 
	{{ parent() }} 	
{% endblock %}