    <nav id="sidebar">
        <div id="dismiss">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-arrow-right-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
                  <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
                </svg>
        </div>

        <div class="sidebar-header">
            <h3 class="blue">ZuHouse</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Palacio Uruguay <br> <span>Uruguay 1530</span> </p>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cash-stack" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14 3H1a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1h-1z"/>
                          <path fill-rule="evenodd" d="M15 5H1v8h14V5zM1 4a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H1z"/>
                          <path d="M13 5a2 2 0 0 0 2 2V5h-2zM3 5a2 2 0 0 1-2 2V5h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 13a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                        </svg> Gastos
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="misGastos.html">Mis Gastos</a></li>
                    <li><a href="gastosTotales.html">Gastos Totales</a></li>
                    <li><a href="detalleCreditosDebitos.html">Cr&eacute;ditos / D&eacute;bitos</a></li>
                </ul>
            </li>
            <li>
                <a href="#pageAdministrador" data-toggle="collapse" aria-expanded="false">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-wide menu" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z"/>
                      </svg> Administrador
                </a>
                <ul class="collapse list-unstyled" id="pageAdministrador">
                    <a href="#pageGastos" data-toggle="collapse" aria-expanded="false" class="list-title">Gastos</a>
                    <ul class="collapse list-unstyled" id="pageGastos">
                        <li>
                            <a href="#">Gastos Del Mes</a>
                        </li>
                        <li>
                            <a href="#">Gastos Totales</a>
                        </li>
                        <li>
                            <a href="#">Cr&eacute;ditos / D&eacute;bitos</a>
                        </li>
                    </ul>
                    <li>
                        <a href="#">Usuario</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li><a href="#" class="download">Contacto con Administraci&oacute;n</a></li>
            <li><a href="#" class="download">Editar mis datos</a></li>
            <li><a href="#" class="download">Contacto con Servicio T&eacute;cnico</a></li>
            <li><a href="#" class="article">Salir</a></li>
        </ul>
    </nav>