{% extends "base_index.html" %} 

{% block title %} 
	{{titulo}}
{% endblock %}

{% block head %} 
	{{ parent() }} 
{% endblock %} 
{% block anio %}
	{{anio}}
{% endblock %}

{% block menu %} 
	{{ include('menu/menu.html') }} 
{% endblock %} 

{% block content %}
{% autoescape false %}

    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header"></div>
                <h1 class="blue">ZuHause</h1>
            </div>
        </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4 class="text-uppercase text-muted mb-2">Hola {{usuario}}</h4>
                                <p>Elije una opcion para ver mas detalles o 
                                    <a href="logout.php" class="link">Salir <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                                      </svg></a>
                                </p>
                            </div>
                            <div class="" id="mensajes">
                            </div>
                            {% if cantidad_edificios > 0 %}				
                            <div class="card-text">
                                <ul class="list-group">
                                {% for edificio in edificios %}	 
                                	<a href="#!" onclick="cargar_trabajo_seleccionado('{{edificio.eid}}', '{{edificio.enombre}}')" class="center div-configuracion">                                    
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            {{edificio.enombre}}
                                            <span class="badge badge-primary badge-pill">{{edificio.ecantidadAptos}} Apartamentos</span>                                        
                                        </li>                                                                            
                                    </a>
                                  {% endfor %}			
                                </ul>
                            </div>
                            {% endif %}       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endautoescape %} 
{% endblock %} 

{% block mensaje %} 
{% endblock %} 

{% block footer %} 
	{{ parent() }} 
{% endblock %} 

{% block scripts %} 
	{{ parent() }} 	
	<script src="js/funciones_principal.js"></script> 
{% endblock %}