{% extends "base_index.html" %} 

{% block title %} 
	{{titulo}}
{% endblock %}

{% block head %} 
	{{ parent() }} 
{% endblock %} 
{% block anio %}
	{{anio}}
{% endblock %}

{% block content %}
{% autoescape false %}
    <div class="section">
    <!-- Page Content Holder -->
	    <div id="content">        
	        <div class="container login">
	            <div class="row justify-content-center">
	                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
	                    <div class="card">
	                        <div class="card-body">
	                            <div class="card-title text-center">              
	                                <h1 class="blue">ZuHause</h1>                  
	                                <h4 class="text-uppercase text-muted mb-2">Recuperar Clave</span>
	                            </div>
	                            <div class="card-text text-break">
	                                <form method="POST" action="recuperarClave.php">
	                                    <div class="form-group">
	                                      <label for="email">Email</label>
	                                      <input type="email" class="form-control" name="login" id="email" required autofocus>
										</div>
										{% if hay_error == 0 %}
										<div class="alert alert-success alert-dismissible fade show" role="alert">
											  <strong>Listo!: </strong>{{mensaje_error}}
											  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
												    <span aria-hidden="true">&times;</span>
											  </button>
										</div>
										{% endif %} 
	                                    {% if hay_error == 1 %}
										<div class="alert alert-danger alert-dismissible fade show" role="alert">
											  <strong>Error: </strong>{{mensaje_error}}
											  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
												    <span aria-hidden="true">&times;</span>
											  </button>
										</div>
									  	{% endif %} 
	                                    {% if hay_error == 2 %}
										<div class="alert alert-warning alert-dismissible fade show" role="alert">
											  {{mensaje_error}}
											  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
												    <span aria-hidden="true">&times;</span>
											  </button>
										</div>
									  	{% endif %} 
										<button type="submit" class="btn btn-primary mb-2">Recuperar Clave</button>                                  
										<a class="btn btn-primary mb-2 float-right" href="index.php" role="button">Volver</a>
									</form>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>

    <div class="overlay"></div>
{% endautoescape %} 
{% endblock %} 

{% block mensaje %} 
{% endblock %} 

{% block footer %} 
	{{ parent() }} 
{% endblock %} 

{% block scripts %} 
	{{ parent() }} 	
{% endblock %}