<div class="alert alert-error alert-dismissible fade show" role="alert">
	  <strong>Error: </strong>Error en obtener los datos, por favor busque nuevamente.
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
	  </button>
</div>